.all-categories {

    margin: 100px 20px;
}


.loading-categories{
    margin-top: 100px;
    margin-bottom: 150px;
}


.loading-categories .fake-categories {
    height: 100px;
    width: 70%;
    margin: auto;
    border: 3px solid green;
    margin-bottom: 20px;
    border-radius: 3px;
}

.loading-categories p {
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.loading-categories .loader-container {
    display: flex;
    justify-content: center;
}

.all-categories .creating-category{
    text-align: center;
    margin-top: 100px;
}


.all-categories .creating-category a{
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 10px 25px;
    font-size: 22px;
    transition: 0.5s;
}

.all-categories .creating-category a:hover{
    background-color: rgb(23, 88, 3);
}

.all-categories .creating-category a:active{
    background-color: rgb(0, 150, 12);
    color: #ffffff;
    box-shadow: 0px 10px 15px rgb(112, 112, 112);
}

@media screen and (max-width: 500px) {
    .all-categories .creating-category a{
        padding: 10px 15px;
        font-size: 18px;
    }
}