.all-posts{
    margin-top: 120px;
    display:flex;
    margin-bottom: 100px;
    
}


.all-posts .left-part{
    width: 500px;
    transition: 1s;
}

.all-posts .title{
    margin-left: 20px;
    margin-bottom: 100px;
    color: green;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 42px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.all-posts .status-title, .all-posts .sort-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 2px solid rgb(37, 148, 37);
    border-radius: 5px;

}

.all-posts .status-content, .all-posts .sort-content{
    display: flex;
    justify-content: space-around;
    margin: 0px 30px;
    font-size: 18px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.all-posts .status-content p, .all-posts .sort-content p {
    cursor: pointer;
    transition: 0.2s;
}

.all-posts .status-content p:hover, .all-posts .sort-content p:hover{
    font-weight: 700;
    color: green;
}

.all-posts .status-content .active, .all-posts .sort-content .active{
    font-weight: 700;
    color: green;
}

.all-posts .status-content {
    margin-bottom: 80px;
}
.all-posts .center-part{
    width: 100%;
    margin-left: 30px;
    margin-right: 70px;
    transition: 1s;
}


.all-posts .post-create-link{
    margin-left: 20px;
    margin: 0px 0 50px 20px;
}


.all-posts .post-create-link a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: green;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 25px;
    transition: 0.5s;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.all-posts .post-create-link a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(41, 177, 0);
    padding: 5px 35px;
    border-radius: 10px;

}

.all-posts .post-create-link p{
    font-size: 16px;
    padding-bottom: 15px;
}

.all-posts .pagination {
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: right;
}

.all-posts .change-page {
    color: black;
    width: 50px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.all-posts .number-page{
    text-align: center;
    height: 43px;
    width: 50px;
    padding-top: 3px;
    font-size: 28px;
    font-weight: 700;
    cursor: default;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;  
    user-select: none;
}

.all-posts .right, .all-posts .left {
    cursor: pointer;
}

.all-posts .right:hover, .all-posts .left:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}

.all-posts .change-page svg{
    width: 40px;
    height: 40px;
}

.all-posts .no-posts{
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}


.loading-posts{
    margin-top: 100px;
    margin-bottom: 150px;
}


.loading-posts .fake-posts {
    height: 150px;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
    background-color: rgb(214, 214, 214);
    border-radius: 3px;
}

.loading-posts .fake-posts:nth-child(1) {
    border-top: 1px solid rgb(179, 179, 179);
}

.loading-posts p {
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.loading-posts .loader-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1015px) and (max-width: 1370px) {
    .all-posts .title{
        font-size: 36px;
    }
}

@media only screen and (min-width:415px) and (max-width: 1015px) {
    
    .all-posts .status-title, .all-posts .sort-title{
        margin-left: 15px;
        margin-right: 30px;
    }
    .all-posts .title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .all-posts{
        display: block;
    }
    .all-posts .left-part{
        width:auto;
        margin-bottom: 60px;
        margin-left: 20px;
    }
    .all-posts .center-part{
        width: auto;
        margin-right: 30px;
    }    
}


@media only screen and (max-width: 415px) {
    
    .all-posts .status-title, .all-posts .sort-title{
        margin-left: 15px;
        margin-right: 30px;
    }
    .all-posts .title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .all-posts{
        display: block;
    }
    .all-posts .left-part{
        width:auto;
        margin-bottom: 60px;
        margin-left: 20px;
    }
    .all-posts .center-part{
        width: auto;
        margin-right: 30px;
    }  
    
    .all-posts .post-create-link a{
        font-size: 14px;
        padding: 5px 15px;
    }  
    .all-posts .post-create-link a:hover{
        font-size: 14px;
        padding: 5px 20px;
    } 
}
