.reply-up-side {
    display: inline-flex;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 5px;
    background-color: rgba(199, 199, 199, 0.6);
}

.reply-up-side a{
    text-decoration: none;
    color: rgba(0, 128, 0, 0.6);
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-top: 3px;
    transition: 0.3s;
}

.reply-up-side a:hover{
    color: white;
    background-color: green;
    padding: 3px 5px;
}

.reply-up-side p{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}


.one-comment {
    border-top: 1px solid rgb(88, 155, 91);
    border-bottom: 1px solid rgb(88, 155, 91);
    border-left: 1px solid rgb(88, 155, 91);
    border-right: 1px solid rgb(88, 155, 91);
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.5s;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-between;
    grid-template-areas: 
    
    'author author delete-comment'
    'comment-content comment-content comment-content'
    'date date likes'
    'rating locking reply';
}

.one-comment:hover {
    background-color: rgb(223, 223, 223);
}


.one-comment .comment-author {
    grid-area: author; 
    padding: 10px;
    padding-left: 20px;   
}

.one-comment .comment-author a {
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: green;
    transition: 0.5s;
}

.one-comment .comment-author a:hover {
    color: white;
    background-color: green;
    padding: 5px 10px;
}

.one-comment .comment-date {
    grid-area: date;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.one-comment .comment-date p{
    color: rgb(151, 151, 151);
    font-size: 15px;
}

.one-comment .comment-content {
    grid-area: comment-content;
    padding: 10px 20px;
    padding: 10px 15px 10px 15px;
}

.one-comment .comment-content {
    color: rgb(82, 82, 82);
    font-size: 17px;
}

.one-comment .comment-rating {
    grid-area: rating;
    display: flex;
    justify-content: flex-start;
}

.one-comment .comment-rating img {
    width: 46px;
    height: 46px;
}

.one-comment .comment-rating p {
   font-size: 28px;
   padding-top: 5px;
   padding-left: 5px;
   color: rgb(104, 170, 104);
   font-style: italic;
}

.one-comment .comment-locking-container{
    grid-area: locking;
}

.one-comment .comment-locking {
    margin-top: 6px;
}


.one-comment .comment-locking i{
    font-size: 32px;
    transition: 0.5s;
    cursor: pointer;
}

.one-comment .comment-locking i:hover{
    color: green;
}

.one-comment .comment-reply {
    margin-top: 6px;
    grid-area: reply;
}


.one-comment .comment-reply i{
    font-size: 32px;
    transition: 0.5s;
    cursor: pointer;
}

.one-comment .comment-reply i:hover{
    color: green;
}


.one-comment .post-likes {
    grid-area: likes;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.one-comment .post-likes-container {
    font-size: 28px;
}

.one-comment .post-likes .fa-thumbs-down, .one-comment .post-likes .fa-thumbs-o-down  {
    margin-right: 20px;
    
}

.one-comment .post-likes-container i{
    transition: 0.5s;
    cursor: pointer;    
}

.one-comment .post-likes-container i:hover{
    color: green;
}



.one-comment .delete-comment {
    grid-area: delete-comment;
    font-size: 32px;
    text-align: right;
    margin-right: 20px;
    transition: 0.5s;
}

.one-comment .delete-comment i {
    transition: 0.5s;
    cursor: pointer;
}


.one-comment .delete-comment i:hover{
    color: red;
    padding-top: 5px;
    font-size: 36px;
}

@media only screen and (min-width: 450px) and (max-width: 550px){
    .reply-up-side {
        display: block;
    }
    .reply-up-side p{
        margin-left: 10px;
    }
    .one-comment .post-likes-container {
        font-size: 22px;
    }
    .one-comment .post-likes {
        margin-right: 10px;
    }
    .one-comment .post-likes .fa-thumbs-down, .one-comment .post-likes .fa-thumbs-o-down  {
        margin-right: 15px;
        
    }
    .one-comment .comment-rating {
        justify-content: flex-start;
    }    
    .one-comment .comment-content {
        color: rgb(82, 82, 82);
        font-size: 15px;
    }
    .one-comment .comment-locking {
        margin-top: 15px;
    }
    .one-comment .comment-locking i{
    
        font-size: 22px;
        transition: 0.5s;
        cursor: pointer;
    }
    .one-comment .comment-reply {
        margin-top: 15px;
    }
    .one-comment .comment-reply i{
    
        font-size: 22px;
        transition: 0.5s;
        cursor: pointer;
    }   
}


@media only screen and (max-width: 450px){
    .reply-up-side {
        display: block;
    }
    .reply-up-side p{
        font-size: 14px;
    }
    
    .one-comment {

        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        'date delete-comment delete-comment'
        'author author author'
        'comment-content comment-content comment-content'
        'likes likes likes'
        'rating locking reply';
    }
    .one-comment .post-likes-container {
        font-size: 22px;
    }
    .one-comment .post-likes {
        margin-right: 10px;
    }
    .one-comment .post-likes .fa-thumbs-down, .one-comment .post-likes .fa-thumbs-o-down  {
        margin-right: 15px;
        
    }
    .one-comment .comment-locking {
        margin-top: 15px;
    }
    .one-comment .comment-locking i{
    
        font-size: 22px;
        transition: 0.5s;
        cursor: pointer;
    }  
    .one-comment .comment-reply {
        margin-top: 15px;
    }
    .one-comment .comment-reply i{
    
        font-size: 22px;
        transition: 0.5s;
        cursor: pointer;
    }   
    .one-comment .comment-content {
        color: rgb(82, 82, 82);
        font-size: 14px;
    }
    
    .one-comment .comment-date {
        padding-top: 5px;
        padding-left: 20px;
    }
    .one-comment .comment-author a{
        font-size: 18px;
    }
    .one-comment .comment-author a:hover {
        padding: 5px 5px;
    }
}
